{% extends 'base.html' %}
{% load static %}
{% block title %}
Satınalma Reddedilenler
{% endblock title %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock customcss %}
{% block content %}
<section class="content-header">
    <h1>
      Satınalma Reddedilenler
      <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
</section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12"> 
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Reddedilen Satınalmalar</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Kayıt No</th>
                <th>Evrak Seri Sıra</th>
                <th>Firma</th>
                <th>Teslim Tarihi</th>
                <th>Stok Adı</th>
                <th>Miktar</th>
                <th>Birim Fiyat</th>
                <th>Reddedilme Nedeni</th>
              </tr>
              </thead>
              <tbody>
              {% for row in data %}
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.56}}-{{row.57}}</td>
                    <td>{{row.61}}</td>
                    <td>{{row.53|date:"d.m.Y"}}</td>
                    <td>
                        {% if row.4 == None or row.4 == '' %}
                            {{row.97}}
                        {% else %}
                            {{row.4}}
                        {% endif %}
                    </td>
                    <td>{{row.65}} {{row.50}}</td>
                    <td>{{row.77|floatformat:2}} {{row.85}}</td>
                    <td>{{row.115}}</td>          
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
{% endblock %}

{% block customjs %}

<!-- DataTables -->
<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script>
    $(function () {
      $('#example2').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false,
        'select': true,
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
        },
      })
    })
</script>

{% endblock %}